# Commercial Analytics

## 1. Download CSV

In [2]:
!pip install wget
!python -m wget https://github.com/boringPpl/Sales-Reporting/tree/main/data

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: wget
  Building wheel for wget (setup.py): started
  Building wheel for wget (setup.py): finished with status 'done'
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9680 sha256=22c9cd92bb0094e381d355c37fc63e61033f3fc79ee1c21afd4c183fe6ef0cef
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\04\5f\3e\46cc37c5d698415694d83f607f833f83f0149e49b3af9d0f38
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

Saved under data

In [11]:
!python -m wget https://raw.githubusercontent.com/boringPpl/Sales-Reporting/main/data/sales2019_1.csv

Saved under sales2019_1.csv

In [12]:
!python -m wget https://raw.githubusercontent.com/boringPpl/Sales-Reporting/main/data/sales2019_2.csv
!python -m wget https://raw.githubusercontent.com/boringPpl/Sales-Reporting/main/data/sales2019_3.csv
!python -m wget https://raw.githubusercontent.com/boringPpl/Sales-Reporting/main/data/sales2019_4.csv
!python -m wget https://raw.githubusercontent.com/boringPpl/Sales-Reporting/main/data/sales2019_5.csv
!python -m wget https://raw.githubusercontent.com/boringPpl/Sales-Reporting/main/data/sales2019_6.csv
!python -m wget https://raw.githubusercontent.com/boringPpl/Sales-Reporting/main/data/sales2019_7.csv
!python -m wget https://raw.githubusercontent.com/boringPpl/Sales-Reporting/main/data/sales2019_8.csv
!python -m wget https://raw.githubusercontent.com/boringPpl/Sales-Reporting/main/data/sales2019_9.csv
!python -m wget https://raw.githubusercontent.com/boringPpl/Sales-Reporting/main/data/sales2019_10.csv

Saved under sales2019_2.csv

Saved under sales2019_3.csv

Saved under sales2019_4.csv

Saved under sales2019_5.csv

Saved under sales2019_6.csv

Saved under sales2019_7.csv

Saved under sales2019_8.csv

Saved under sales2019_9.csv

Saved under sales2019_10.csv

In [8]:
import pandas as pd
import numpy as np

In [29]:
path = lambda x : f'sales2019_{x}.csv'
df = pd.read_csv(path(1))
for i in range (2, 11):
    df = df._append(pd.read_csv(path(i)))
    
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 144072 entries, 0 to 20378
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          143652 non-null  object
 1   Product           143652 non-null  object
 2   Quantity Ordered  143652 non-null  object
 3   Price Each        143652 non-null  object
 4   Order Date        143652 non-null  object
 5   Purchase Address  143652 non-null  object
dtypes: object(6)
memory usage: 7.7+ MB

In [31]:
df.to_csv("annualSale2019", index=False)

In [38]:
temp = df
temp

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
20374,278792,AA Batteries (4-pack),1,3.84,10/12/19 04:32,"920 Adams St, San Francisco, CA 94016"
20375,278793,Wired Headphones,1,11.99,10/28/19 22:00,"161 Chestnut St, Los Angeles, CA 90001"
20376,278794,AA Batteries (4-pack),1,3.84,10/09/19 20:58,"346 Spruce St, San Francisco, CA 94016"
20377,278795,iPhone,1,700,10/31/19 17:21,"291 Hill St, Seattle, WA 98101"
20378,278796,Wired Headphones,1,11.99,10/13/19 11:20,"547 Jefferson St, Los Angeles, CA 90001"

In [43]:
# temp["Month"] = temp["Order Date"].apply(lambda d: str(d)[:2])
temp["Month"] = temp["Order Date"].str[:2]
temp.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215",01
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035",01
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016",01
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001",01
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301",01

In [45]:
temp.groupby(temp.Month)

In [47]:
set(temp["Month"])

{'01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', 'Or', nan}

In [51]:
set(temp["Month"].dropna(how="all"))

{'01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', 'Or'}

In [56]:
temp = temp.dropna(how="all")

In [57]:
temp = temp[temp["Month"] != 'Or']
temp.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215",01
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035",01
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016",01
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001",01
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301",01

In [64]:
temp["Quantity Ordered"] = pd.to_numeric(temp["Quantity Ordered"])
temp["Price Each"] = pd.to_numeric(temp["Price Each"])
temp["Sales"] = temp["Quantity Ordered"] * temp["Price Each"]

In [65]:
temp.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales
0,141234,iPhone,1,700.00,01/22/19 21:25,"944 Walnut St, Boston, MA 02215",01,700.00
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035",01,14.95
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016",01,23.98
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001",01,149.99
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301",01,11.99

In [66]:
sales_column = temp.pop("Sales")
temp.insert(4, "Sales", sales_column)

In [67]:
temp.head()

,Order ID,Product,Quantity Ordered,Price Each,Sales,Order Date,Purchase Address,Month
0,141234,iPhone,1,700.00,700.00,01/22/19 21:25,"944 Walnut St, Boston, MA 02215",01
1,141235,Lightning Charging Cable,1,14.95,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035",01
2,141236,Wired Headphones,2,11.99,23.98,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016",01
3,141237,27in FHD Monitor,1,149.99,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001",01
4,141238,Wired Headphones,1,11.99,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301",01

In [71]:
temp.groupby("Month").sum()["Sales"].max()

3736726.88